!!! 5
html
  head
    title GreenText
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600', rel='stylesheet')
    script( src='js/jquery-1.10.2.min.js')
    script( src='js/index.js')
    style
      /* http://css-tricks.com/perfect-full-page-background-image/ */
      html {
      background: url(img/1374424489656.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
      body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
      }
      h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
      }
      /* Override B3 .panel adding a subtly transparent background */
      .panel {
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      width: 550px;
      height: 500px;
      margin:auto;
      background-color: rgba(255, 255, 255, 0.9);
      }
      .margin-base-vertical {
      margin: 40px 0;
      }
  body
    .container
      .row
        .col-lg-6.col-offset-3.panel
          h1.margin-base-vertical Have you ever forgotten to turn off your lights?
          p
            | Someone told me long ago there's a calm before the storm.
          p
            | When you forget to turn off your light, your wife become a storm.
          p
            | I want to know, have you ever forget to turn off the light?
          div.margin-base-vertical
            p.input-group
              label Phone Number
              span.input-group-addon
              input.form-control.input-large(id='phone-number', type='tel', name='phone-number', placeholder='XXX-XXX-XXXX')
            p.help-block.text-center
              small We won't send you spam. Unsubscribe at any time.
            p.text-center
              button.btn.btn-success.btn-large(onclick='loginPopup()') Start Now!
          .margin-base-vertical
