!!! 5
html
  head
    title SpringGauge
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600', rel='stylesheet')
    script( src='js/jquery-1.10.2.min.js')
    script( src='js/index.js')
    style
      /* http://css-tricks.com/perfect-full-page-background-image/ */
      html {
      background: url(img/background.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }
      body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
      }
      h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
      }
      /* Override B3 .panel adding a subtly transparent background */
      .panel {
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      width: 490px;
      height: 400px;
      margin:auto;
      background-color: rgba(255, 255, 255, 0.9);
      }
      .margin-base-vertical {
      margin: 40px 0;
      }
      .center{
        width: 200px;
        left: 50px;
        margin-right: auto;
        margin-left: auto;
      }
  body
    .container
      .row
        .col-lg-6.col-offset-3.panel
          h1.margin-base-vertical.center Spring Gauge
          p
            | You were smart enough to get a smart meter. Now get the smart app. Spring Gauge reduces your energy bill with a simple text. Using our prediction system, we warn you of impending spikes in your energy usage. Spring into action with Spring Gauge. 
          div.margin-base-vertical
            p.input-group
              label Phone Number
              span.input-group-addon
              input.form-control.input-large(id='phone-number', type='tel', name='phone-number', placeholder='XXX-XXX-XXXX')
            p.text-center
              button.btn.btn-success.btn-large(onclick='loginPopup()') Start Now!
          .margin-base-vertical
